{{ attach_library('simple_styleguide/simple_styleguide.default') }}

<div class="site-styles">
    <div class="shortcuts">

        <div class="simple-styleguide-menu-group common">
            <ul class="simple-styleguide--jump-nav">
                {% for default_segment in default_segments %}
                    <li><a href="#{{ default_segment }}">{{ default_segment }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div><!-- end .shortcuts -->

    <div class="sections">
        {# -- COLORS ----------------------------------------------------------- #}
        {% if default_colors is defined and default_colors is not empty %}
            <a name="colors"></a>

            <h3 class="sectionhead">Colors</h3>

            <div class="simple-styleguide">
                <table class="color-chart responsive">
                    <tr>
                        <th>Preview</th>
                        <th>Hex Color Code</th>
                        <th>Usage</th>
                    </tr>
                    {% for default_color in default_colors %}
                    <tr>
                        <td width="25%"><div class="colorblock {{ default_color.name }}"></div></td>
                        <td width="35%">{{ default_color.hex }}</td>
                        <td width="40%">{% if default_color.description is defined and default_color.description is not empty %}<p>{{ default_color.description }}</p>{% endif %}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}

        {# -- SEGMENTS ------------------------------------------------------ #}
        {% for default_segment in default_segments %}
            {% set segment = '@simple_styleguide/includes/' ~ default_segment ~ '.html.twig' %}
            {% include(segment) %}
        {% endfor %}

        {# -- CUSTOM SEGMENTS ----------------------------------------------- #}
        {% if custom_segments is defined and custom_segments is not empty %}
            {% for custom_segment in custom_segments %}
                <a name="{{ custom_segment.label }}"></a>
                <h3 class="sectionhead">{{ custom_segment.label }}</h3>

                <div class="simple-styleguide">
                    {{ custom_segment.segment|raw }}
                </div>
            {% endfor %}
        {% endif %}

    </div><!-- end .sections -->
</div>
