{{ attach_library('simple_styleguide/simple_styleguide.default') }}

<div class="simple-styleguide--site-styles">
    <div class="site-styles--shortcuts">

        {% if default_snippets is empty %}
        {% if custom_snippets is empty %}
        {% if default_colors is empty %}
            <p>You have not selected or created any styleguide snippets.</p>
            <p><a href="{{ url('simple_styleguide.styleguide_settings') }}" class="button">Configure Simple Styleguide</a></p>
        {% endif %}
        {% endif %}
        {% endif %}

        <div class="simple-styleguide-menu-group common">
            {% if default_snippets is defined and default_snippets is not empty %}
            <strong>Default snippets:</strong>
            <ul class="simple-styleguide--jump-nav">
                {% for default_snippet in default_snippets %}
                    <li><a href="#{{ default_snippet }}">{{ default_snippet }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if custom_snippets is defined and custom_snippets is not empty %}
            <strong>Custom snippets:</strong>
            <ul class="simple-styleguide--jump-nav">
                {% for custom_snippet in custom_snippets %}
                    <li><a href="#{{ custom_snippet.label }}">{{ custom_snippet.label|lower }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div><!-- end .shortcuts -->

    <div class="sections">
        {# -- COLORS ----------------------------------------------------------- #}
        {% if default_colors is defined and default_colors is not empty %}
            <a name="colors"></a>

            <h3 class="simple-styleguide--sectionhead">colors</h3>

            <div class="simple-styleguide">
                <div class="simple-styleguide--colors">
                {% for default_color in default_colors %}
                    <div class="simple-styleguide--color">
                        <div class="simple-styleguide--color--block {{ default_color.class }}" style="background-color: {{ default_color.hex }}"></div>
                        <div class="simple-styleguide--color--swatch">
                            <span class="simple-styleguide--color--swatch--class"><label>class:</label> {{ default_color.class }}</span>
                            <span class="simple-styleguide--color--swatch--values"><label>values:</label> {{ default_color.hex }} | rgb({{ default_color.rgb }})</span>
                            <span class="simple-styleguide--color--swatch--usage"><label>usage:</label> {{ default_color.description }}</span>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endif %}

        {# -- SEGMENTS ------------------------------------------------------ #}
        {% for default_snippet in default_snippets %}
            {% set snippet = '@simple_styleguide/includes/' ~ default_snippet ~ '.html.twig' %}
            {% include(snippet) %}
        {% endfor %}

        {# -- CUSTOM SEGMENTS ----------------------------------------------- #}
        {% if custom_snippets is defined and custom_snippets is not empty %}
            {% for custom_snippet in custom_snippets %}
                <a name="{{ custom_snippet.label }}"></a>
                <h3 class="simple-styleguide--sectionhead">{{ custom_snippet.label|lower }}</h3>

                <div class="simple-styleguide">
                    {{ custom_snippet.snippet|raw }}
                    <div class="simple-styleguide--snippet">
                        <a class="simple-styleguide--view-sourecode">View Source</a>
                        <pre>{{ custom_snippet.snippet }}</pre>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

    </div><!-- end .sections -->
</div>
